# Para crear el .env real, copie este arhcivo y elimine el ".example" de la extension

openai_api_key=""   # Solo uno de los dos es obligatorio
hf_api_key=""       # Puede usar o una API key de OpenAI o una API key de HuggingFace

gemini_api_key=""   # Obligatorio